/*
CSS for Blue Plaques data (Task 5.3)
Student number: 201578549
*/

html { 
	height: 100%;
	width: 100%;
}

body { 
	height: 100%;
	width: 100%;
	background-color: #d3eaf2;
    color: #515151;
    font-size: small;
    font-family: Sans-serif,"Georgia", "Open Sans";
}

#table {

    border:none;
	margin: 0 auto;
	width:1000px;
	height:500px;
	background-color:#f5dbbb;

}
	
#header {
	
	background-color: #1979a9;
	font-size: 20px; 
    color:white;
    text-align:center;
	padding: 0.1px;
	height:100px;

	
}

#owl {
	position: absolute;
    top: 5px;
    left: 5px;
	height: 100px;
	
}

#map_canvas {
	width: 800px; 
	height: 500px;

}

	
#side_bar {
	width:200px;
	height:500px; 
	overflow:auto;
	line-height:1.5;
}
	


#info_box {
  width: 1000px;
  border: none;
  margin: 0 auto;
  text-align: left;
  padding: 5px;
  border-radius: 2px;
}

.infowindow{
    text-align: left;
    width: 100%;
}
